Hello World!



 {% if app.user %}
   <a href="{{ path('fos_user_security_logout') }}">Logout</a>
 {% else %}
    # user is not logged in
 {% endif %}


{% if is_granted('ROLE_STAFF') %}
    ROLE_STAFF
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    ROLE_ADMIN
{% elseif is_granted('ROLE_USER') %}
    ROLE_USER
{% else %}
    Anonymous
{% endif %}