{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.blockUI.js') }}" type="text/javascript"></script>
    <script>
        $('select.select_contract_edit').prop('disabled', true);
        $(document).ready(function () {
            $(".select_commidity").change(function () {

                $.blockUI({ message: '<h1>Please Wait ...</h1>' });

                var code = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('contract_dropdown') }}",
                    data: {'code': code},
                    cache: false,
                    success: function (html)
                    {
                        $('#select2-chosen-2').html('');
                        $("select.select_contract").html(html);
                        $.unblockUI() ;
                    }
                });
            });
        });
    </script>
{% endblock %}